{% extends 'base.html.twig' %}

{# You can replace other parent blocks @see '../base.html.twig' #}
{% block title 'default.index.head.meta.title'|trans %}
{% block og_title 'default.index.head.meta.title'|trans %}

{% block content_tag_attributes 'id="index"' %}

{% block content %}
    <section>
        <div class="container">
            <div class="row mb-4">
                <div class="col">
                    <h1>{{ 'default.index.body.section.h1'|trans }}</h1>

                    <span class="fab fa-gspanthub"></span>
                    <span class="fab fa-html5"></span>
                    <span class="fab fa-css3-alt"></span>
                    <span class="fab fa-js-square"></span>
                    <!-- See assets/app.scss -->
                    <span class="php"></span>

                    <p>
                        {{ 'default.index.body.section.p'|trans }}
                    </p>

                    <ul>
                        <li>{{ 'default.index.body.section.ul.li.first'|trans }} <code><a href="{{ '/srv/app/symfony/src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
                        <li>{{ 'default.index.body.section.ul.li.second'|trans }} <code><a href="{{ '/srv/app/symfony/templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
