<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="author" content="Gaëtan Rolé-Dubruille">
    <meta name="description" content="{% block description 'base.head.meta.description'|trans %}">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <title>{% block title 'base.head.meta.title'|trans %}</title>

    <meta property="og:image" content="{% block og_image '' %}">
    <meta property="og:title" content="{% block og_title 'base.head.meta.title'|trans %}">
    <meta property="og:description" content="{% block og_description 'base.head.meta.description'|trans %}">

    {{ encore_entry_link_tags('app') }}

    {% block stylesheets %}
    {% endblock %}

    {{ include('_favicons.html.twig', with_context = false) }}
</head>
<body>
<header>
    {% block header -%}
        {{ include('_header.html.twig', with_context = false) }}
    {%- endblock %}
</header>
<main id="main">
    {{ include('_flash_messages.html.twig', with_context = false) }}
    <div {% block content_tag_attributes '' %}>
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer>
    {% block footer -%}
        {{ include('_footer.html.twig', with_context = false) }}
    {%- endblock -%}
</footer>

{{ encore_entry_script_tags('app') }}

{% block javascripts -%}
{% endblock %}
</body>
</html>
